.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.song{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    background-color: aquamarine;
}

.direction:hover{
    color: white;
    background-color: maroon;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
}

.SILL{
    font-family:"Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(239, 18, 18);
}

.SILL:hover,.SPAR:hover,.PRET:hover{
    box-shadow: 10px 10px 5px black;
    border: 5px solid greenyellow;
}

.SPAR{
    font-family:"Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(173, 239, 18);
}

.PRET{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: rgb(13, 215, 218);
}

.Chorus{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25%;
    color: blue;
}

.Girls{
    font-family:"Times New Roman", Times, serif;
    font-size: 25%;
    color: pink;
}

table,td,th{
    border: 1px solid black;
    width: 35%;
    text-align: center;
    padding: 20px;
    color:  rgb(15, 104, 84);

}

th{
    color:coral;
}

tr:nth-child(even) {
    background-color: #eadada;
  }

  ul {
    background-color: grey;
    list-style-type: none;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
  }

